<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
	<header class="bg-secondary text-center p-3 mb-5">
		<h1>To Do List</h1>
		
	</header>

	<script>
		var app=angular.module("myShoppingList", []);
		app.controller("myCtrl", function($scope){
			$scope.toDo=["Exercise","Breakfast","Reading Newspaper"];
			$scope.addItem=function(){
				$scope.errortext="";
				if(!$scope.addMe){
					return;
				}
				if($scope.toDo.indexOf($scope.addMe)==-1){


				$scope.toDo.push($scope.addMe);
			}else{
				$scope.errortext="The item is already in your Shopping list.";
			}}
			$scope.removeItem=function(x){
				$scope.toDo.splice(x,1);
			}

		});
	</script>

<div class="col-md-6 offset-md-3" ng-app="myShoppingList" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in toDo">{{x}}
			<span ng-click="removeItem($index)">&times;</span>
		</li>
	</ul>
					<form>
					<div class="form-group">
						<input ng-model="addMe" type="text" class="form-control form-control-lg" placeholder="Enter..">
					</div>
					
				</form>
	<!--<input ng-model="addMe">-->
	
	<button type="button" class="btn btn-success" ng-click="addItem()">Add</button>
	<p>{{errortext}}</p>

</body>
</html>
